@font-face {
    font-family: Gilroy;
    src: url(Fonts/Gilroy-ExtraBold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
    gap: 8px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
}

#intro{
    height: 45%;
    width: 100%;
    padding: 30px;
}

#intro h1{
    font-size: 110px;
    line-height: 100px;
    letter-spacing: -3px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#place h3,#place h4{
    font-size: 30px;
}

#hero-img{
    width: 100%;
    height: 90%;
    background-image: url(Img/Model.webp);
    background-size: cover;
}

#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about h2{
    width: 60%;
    font-size: 60px;
    line-height: 70px;letter-spacing: -2px;
    margin-left: 20px;
}

#about-part2{
    width: 36%;
    height: 70%;
    border-left: 2px solid black;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 25px;
}

#icons i{
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 7px;
    margin-right: 10px;
}

#work{
    height: 50%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

#work1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid black;
    padding-right: 50px;
    padding-top: 20px;
}

#work1 i{
    font-size: 30px;
}

#work2{
    width: 70%;
    height: 100%;
    padding: 0px 60px;
}

.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    gap: 20px;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}

.work2-part .elem{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.work2-part .elem:nth-child(1){
    border-right: 2px solid black
    ;
}

.elem h4{
    font-size: 40px;
}

.elem p{
    color: rgb(60, 58, 58);
}